img.slide{
    height: 700px;
}


.box{
  width: 532px;
  height: 248px;
  padding-left: 10px;

}
.hey{
    width: 425px;
    margin-left: 395px;
    margin-top: 19px;
}
.container{
    margin-left: 145px;
}
